.register-form-container {
    display: flex;
    flex-direction: column;
}

.register-input {
    margin: 5px 0 15px;
    padding: 10px;
    border-radius: 5px;
}

.register-submit {
    margin: 15px 0 5px;
    padding: 10px;
    font: bold 16px Arial;
}
