.register-form-container {
    display: flex;
    flex-direction: column;
}

.register-input {
    margin: 5px 0 20px;
    padding: 10px;
    border-radius: 5px;
}

.register-submit {
    margin: 15px 0 5px;
    padding: 10px;
    font: bold 16px Arial;
    border-radius: 5px;
    -webkit-appearance: button;
}

.register-label {
    font-size: 15px;
    text-align: left;
}
