.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    padding: 20px 0 100px;
}

.navigation {
    margin: 0 0 20px;
}

.nav-link {
    color: #61dafb;
    margin: 0 10px;
}

.timeline {
    width: 60%;
}
