.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    padding: 20px 0 100px;
}

.navigation {
    margin: 0 0 20px;
}

.nav-link {
    color: #61dafb;
    margin: 0 10px;
}

.post-message-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.post-message-input {
    height: 10vh;
    margin: 5px 0 20px;
    padding: 10px;
    border-radius: 5px;
    resize:none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.post-message-submit {
    margin-top: -59px;
    margin-left: 383px;
    width: 70px;
    padding: 10px;
    font: bold 16px Arial;
    border: none;
    -webkit-appearance: button;
    cursor: pointer;
    background: rgb(136, 136, 136, 0.2);
    border-radius: 5px;
}

.timeline {
    width: 60%;
}

.no-message-headline {
    font-size: 30px;
    margin: 0;
}
