.App {
    background-color: #282c34;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #282c34;
    padding: 20px;
}

.nav-link {
    color: #61dafb;
    margin: 0 20px;
}

.logout-button {
    cursor: pointer;
    text-decoration-line: underline;
}

.left-side-nav {
    display: flex;
    align-items: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 40px 0 0 0;
}

.App-footer {
    padding: 15px;
    color: #61dafb;
}
